* {
  margin: 0;
  padding: 0;
  
}
body {
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #00f0ff; */
  background: linear-gradient(135deg, #3e90d7, #058fb5);
}
.app {
  background-color: aliceblue;
  width: 90%;
  max-width: 450px;
  margin: 100px auto 0;
  padding: 20px;
  border-radius: 10px;
}
.app h1 {
  font-size: 25px;
  font-weight: 550;
  color: rgba(33, 28, 28, 0.929);
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(26, 25, 25, 0.929);
}
.btn {
  background-color: #fff;
  display: block;
  cursor: pointer;
  border: 1px solid #222;
  width: 100%;
  color: #222;
  text-align: left;
  margin: 15px 0;
  transition: all 0.5s;
  padding: 10px;
  border-radius: 5px;
}
.btn:not(:disabled):hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#next-btn {
  background: linear-gradient(135deg, #0c76d4, #058fb5);
  cursor: pointer;
  color: #fff;
  width: 140px;
  border-radius: 5px;
  padding: 10px;
  border: 0;
  display: block;
  margin: 30px auto 0;
}
@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
  .app {
    width: 80%;
    max-width: 420px;
    margin: 100px auto 0;
    padding: 15px 15px;
  }
  .app h1 {
    font-size: 18px;
  }
  .quiz h2 {
    font-size: 16px;
  }
  .btn {
    font-size: 14px;
    padding: 8px 12px;
    margin: 10px 0;
  }
  #next-btn {
    font-size: 14px;
    padding: 8px 12px;
    width: 120px;
    margin-top: 25px;
  }
}